model_config_list {
  config {
    name: 'mnist'
    base_path: '/models/mnist/',
    model_platform: 'tensorflow',
    model_version_policy:{
        latest: {
            num_versions:1
        }
    }
  },
  config {
    name: 'mnist-copy'
    base_path: '/models/mnist-copy/',
    model_platform: 'tensorflow',
    model_version_policy:{
        specific: {
            versions:1,
            versions:2
        }
    }
  }
}
